.App {
  text-align: center;
}

table {
  border: 1px solid black;
  width: 100%;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  min-width: 500px;
}
input,
label {
  margin-bottom: 12px;
  font-size: 22px;
}
.radio {
  text-align: left;
  margin-right: auto;
}
.checkbox {
  text-align: left;
  margin-right: auto;
}
.centeredContentFloat {
  float: right;
  position: relative;
  text-align: left;
  width: 100%;
  padding-left: 20%;
  margin-left: 20%;
}
.centeredContent {
  margin-left: 20%;
  margin-right: 20%;
}
